#data{
  margin-left: 60%;
  color: white;
}

#row{
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 85px;
  color: white;
}

.containerInput {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin:  34px 0px;
  display: flex;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerInput input{
  background-color: transparent;
  border:  0;
  font-size: 20px;
  color: #FFF;
  outline: none;
  mmargin-right: 8px;
}

.containerInput input::placeholder {
  color: #f1f1f1;
}

.botaoPesquisar {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s;
}

.botaoPesquisar:hover{
  transform: scale(1.3);
}